.chat {
    
    font-size: 26rem;
    height: 560rem;
    overflow-y: auto;

    &::-webkit-scrollbar { width: 0; }
    -ms-overflow-style: none;
  
    &__mes-system-message{
      display: flex;
    }
  
    &__mes-user-message{
      display: flex;
      justify-content: flex-end;
    }
  
  
    &__system-message {
      background-color: #9cd6da;
      border-radius: 26px;
      margin: 22rem 140rem 0 22rem;
      padding: 20rem 20rem;
      word-break: break-all; 
    }
  
    &__user-message {
      background-color: #a5da9c;
  
      border-radius: 26px;
      margin: 22rem 22rem 0 140rem;
      
      padding: 20rem 20rem;
      word-break: break-all; 
    }
  }